{% extends 'base.html' %}
{% load static %}
{% block content %}

<div>
    <img class="my_image my_image_padding" src="{% static 'image/Banner.png' %}" alt="our movies" width="1250px;">
</div>
<br>
<div>
    <h1 class="text-center my_title">Our Movie Collections</h1>
    <p class="text-justify">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
</div><br>
<div claas="container">
    <div class="row mx_auto">
        {% for i in movies.object_list %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
            <div class="card text-center" style="height:350px;width:290px;">
                <a href="{% url 'movie_app:movie_detail' i.id %}"><img class="card-img-top my_image" src="{{i.poster.url}}" alt="{{i.name}}" style="height:250px;width:250px;"></a>
                <div class="card-body">
                    <h4>{{i.title}}</h4>
                    <p>{{i.description}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div><br>
    <div class="mx_auto">
        {% if movies.paginator.num_pages > 1 %}
        <div class="text-center">
            {% for pg in movies.paginator.page_range %}
            <a href="?page={{pg}}" class="btn btn-light btn-sm {% if movies.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div><br>



{% endblock %}
